[Unit]
Description=Postgres DB server for NextCloud
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker rm -f %N
ExecStartPre=-/usr/bin/docker pull postgres:10.5-alpine
ExecStart=/usr/bin/docker \
    run \
    --rm \
    --name %N \
    --env POSTGRES_DB=nextcloud \
    --env POSTGRES_USER=nextcloud \
    --env POSTGRES_PASSWORD=cnohurcmjrocrmewmqjkntml \
    --env PGDATA=/var/lib/postgresql/data/pgdata \
    --volume %N-pgdata:/var/lib/postgresql/data/pgdata \
    postgres:10.5-alpine

[Install]
WantedBy=multi-user.target
