[Unit]
Description=NextCloud app server
After=nextcloud-postgres.service
Requires=nextcloud-postgres.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker rm -f %N
ExecStartPre=-/usr/bin/docker pull nextcloud:14.0-rc-fpm
ExecStart=/usr/bin/docker \
    run \
    --rm \
    --name %N \
    --volume nextcloud:/var/www/html:rw \
    --env POSTGRES_DB=postgres \
    --env POSTGRES_USER=postgres \
    --env POSTGRES_PASSWORD=cnohurcmjrocrmewmqjkntml \
    --env POSTGRES_HOST=db \
    --env NEXTCLOUD_ADMIN_USER=biru \
    --env NEXTCLOUD_ADMIN_PASSWORD=tnhaurontkjmnotmjrcb \
    --link nextcloud-postgres.service:db \
    nextcloud:14.0-rc-fpm

[Install]
WantedBy=multi-user.target
