[Unit]
Description=NextCloud app server
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker rm -f %N
ExecStartPre=-/usr/bin/docker pull nextcloud:14.0-rc-fpm
ExecStart=/usr/bin/docker \
    run \
    --rm \
    --name %N \
    --volume nextcloud:/var/www/html:rw \
    --env NEXTCLOUD_ADMIN_USER=biru \
    --env NEXTCLOUD_ADMIN_PASSWORD=tnhaurontkjmnotmjrcb \
    --link nextcloud-postgres:db \
    nextcloud:14.0-rc-fpm

[Install]
WantedBy=multi-user.target
