[Unit]
Description=Nginx proxy for Docker
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker rm -f %n
ExecStartPre=-/usr/bin/docker pull jwilder/nginx-proxy:alpine-0.7.0
ExecStart=/usr/bin/docker \
    run \
    --rm \
    --name %n \
    --port 80:80 \
    --port 443:443 \
    --volume /etc/nginx/certs \
    --volume /etc/nginx/vhost.d \
    --volume /usr/share/nginx/html \
    --volume /var/run/docker.sock:/tmp/docker.sock:ro \
    --label com.github.jrcs.letsencrypt_nginx_proxy_companion.nginx_proxy \
    jwilder/nginx-proxy:alpine-0.7.0

[Install]
WantedBy=multi-user.target
