[Unit]
Description=Nginx proxy Let's Encrypt companion
After=nginx-proxy.service
Requires=nginx-proxy.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker rm -f %N
ExecStartPre=-/usr/bin/docker pull jrcs/letsencrypt-nginx-proxy-companion:v1.9.1
ExecStart=/usr/bin/docker \
    run \
    --rm \
    --name %N \
    --volume nginx-proxy-certs:/etc/nginx/certs:rw \
    --volume /var/run/docker.sock:/var/run/docker.sock:ro \
    --volumes-from nginx-proxy.service \
    jrcs/letsencrypt-nginx-proxy-companion:v1.9.1

[Install]
WantedBy=multi-user.target
